.header {
    padding-right: 70px;
    text-align: center;
    background: #e0ebeb;
    color: navy;
    font-size: 30px;
  }
  input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .forms{
  max-width: 450px;
  margin:auto;
  padding: 20px;
   }
  .forms1{
      display: flex;
      flex-flow: row wrap;
      margin: auto;
      padding-right: 15px;
      max-width: 450px;
  }
  .button1 {padding: 10px 24px;}
  .button2 {padding: 10px 24px;}
  .button3 {padding: 10px 24px;}
  .button4 {padding: 10px 24px;}
  .Buttons{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
    padding-right: 85px;
  }